@import "tailwindcss";

*{
  font-family: 'Baloo 2', cursive;
}

html,body{
  min-height: 100vh;
  margin: 0;
  background: #000;
  background: linear-gradient(90deg, #0f0f0f, #1a1a1a, #0f0f0f);
  color-scheme: dark;
}

.footer{
  background: #2e2e2e;
background: linear-gradient(90deg, rgba(46, 46, 46, 1) 0%, rgba(59, 59, 59, 1) 29%, rgba(110, 110, 110, 1) 100%);
}

