@import "tailwindcss";

*{
  font-family: 'Baloo 2', cursive;
}

html,body{
  min-height: 100vh;
  margin: 0;
  background: #000;
  background: linear-gradient(90deg, #0f0f0f, #1a1a1a, #0f0f0f);
  color-scheme: dark;
}
